.header_wrapper {
    width: 100vw;
    height: 80px;
    background-color: var(--dark-color);
}

.container {
    width: 100%;
    height: 100%;
    padding: 0 66px;
    margin: 0 auto;
}

.header__logo {
    cursor: pointer;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__nav_inner {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 51px;
}

.header__nav_inner > li {
    list-style-type: none;
}

.header__nav_inner > li > a {
    color: var(--light-color);
    font-size: 18px;
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
}