.out_project_wrapper {
    width: 100vw;
    background-color: var(--dark-color);
    padding: 70px;
}

@media screen and (max-width: 768px) {
    .out_project_wrapper {
        padding: 70px 12px;
    }
}