.docs_banner_title {
    color: #FFF;
    text-align: center;
    font-family: "Descriptor";
    font-size: 67px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}