.card_divide {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.card_img > img {
    width: 540px;
    height: 451px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.card_info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}

.card_info > h2 {
    color: #4A1016;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

.card_info > p {
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (max-width: 1440px) {
    .card_img > img {
        width: 360px;
        height: 320px;
    }
}

@media screen and (max-width: 379px) {
    .card_img > img {
        width: 300px;
        height: 280px;
    }
}