@property --start-color {
    syntax: '<color>';
    inherits: false;
    initial-value: rgba(0, 0, 0, 0);
  }
  
  @property --end-color {
    syntax: '<color>';
    inherits: false;
    initial-value: rgba(216, 30, 55, 0.5);
  }
  
  .project_card_wrapper {
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
  }
  
  .project_card_inner {
    position: relative;
    padding: 0 24px 24px 24px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background: linear-gradient(180deg, var(--start-color) 30%, var(--end-color) 100%);
    transition: padding-bottom 0.3s ease;
  }
  
  .project_card_inner > * {
    position: relative;
    z-index: 2;
  }
  
  .project_card_wrapper:hover .project_card_inner {
    padding-bottom: 66px;
  }
  

.project_card_inner>ul>h3 {
    color: #FFF;
    text-align: left;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

.project_card_inner>ul>p {
    color: #FFF;
    text-align: left;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}