.news_divide {
    width: 100vw;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, rgba(216, 30, 55, 0.55) 0%, rgba(0, 0, 0, 0.00) 49%, rgba(216, 30, 55, 0.55) 100%), #000;;
}

.news_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 55px;    
}

.news_inner > h1 {
    color: #FFF;
    text-align: center;
    font-family: "Descriptor";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.news_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}